html{
    font-size: 62.5%;
    background: fixed;
    background: black;
    background-image: url("../img/background.jpeg");
}

#header{
    font-size: 20px;
    ul{
        color: #fcfcfc;
        background: blue;
        li{
            margin-top: 25px;
        }
    }
}