html{
    font-size: 62.5%;
    background: fixed;
    background: black;
    background-image: url("../img/background.jpeg");
}

#header {
    font-size: 20px;
    .gnav {
    background-color: blue; // ← nav部分の背景色
    ul {
        color: #fcfcfc;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-top: 25px;
        }
    }
    }
    .webstore {
    font-size: 10px;
    }
}
